<div class="w2ui-page page-0 search-form-page">
    <div class="w2ui-field">
        <div><input name="description"></div>
    </div>
    <div class="w2ui-field">
        <div><input name="siteList"></div>
    </div>
    <div class="w2ui-field">
        <div> <input name="startDate"> - <input name="endDate"> </div>
    </div>
    <div class="w2ui-field">
        <div class="button-setting">
            <button class="w2ui-btn w2ui-btn-blue" name="searchBtn" id="search-btn">검색</button>
        </div>
    </div>
    <div class="w2ui-field">
        <div class="date-setting">
            <button class="w2ui-btn" name="toDay" id="today-btn">오늘</button>
            <button class="w2ui-btn" name="thisWeek" id="thisWeek-btn">이번주</button>
            <button class="w2ui-btn" name="thisMonth" id="thisMonth-btn">이번달</button>
            <button class="w2ui-btn" name="lastMonth" id="lastMonth-btn">지난달</button>
        </div>
    </div>
  
</div>
